.card-page {
  .card-search-options {
    margin-bottom: 1.5rem;
  }

  .card-pair .game-card-face {
    transition: box-shadow .3s;
  }

  .card-pair:hover .game-card-face, .card-pair .game-card-face.is-selected {
    box-shadow: 0 0.5em 1em 0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02)
  }

  .card-view {
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .pagination-controls {
        align-self: flex-end;
      }
    }

    .spacer {
      flex-basis: 100%;
    }

    .pagination-controls {
      width: 100%;
    }

    position: relative;
  }
}
