.card-pair-selector {
  $visible-item-limit: 8;

  .loader-wrapper {
    height: 80px;
    width: 80px;
    margin: 10px auto;

    .loader {
      height: 100%;
      width: 100%;
    }
  }

  .tags-input.is-focused ~ .icon {
    color: #4a4a4a;
  }

  .items {
    height: 2em * $visible-item-limit;
    overflow: auto;

    .panel-block.is-selected {
      $selected-background-color: #3273dc;
      //background-color: #eff5fb;
      background-color: $selected-background-color;
      color: white;
      border-bottom: 1px solid darken($selected-background-color, 10%);
    }
  }

}