@import "bulma/sass/utilities/initial-variables";
$family-sans-serif: 'Andika New Basic', $family-sans-serif;
@import "bulma/sass/utilities/functions";

// Set the derived variables
// Use blue as the primary color
$blue-invert: findColorInvert($blue);
$primary: $blue;
$primary-invert: $blue-invert;

// Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables";

// Import the rest of Bulma
@import "bulma/bulma";

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

.is-circular {
  border-radius: 50%;
}

.card.is-scrollable {
  .card-content {
    overflow-y: auto;
  }
}

.image.is-36x36 {
  height: 36px;
  width: 36px;
}

.card-footer-item.is-disabled {
  cursor: not-allowed;
  color: #7a7a7a;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    margin-right: .5em
  }
}

div.item.panel-block:hover {
	background-color: #f5f5f5;
//	background-color: #ededed;
}