@import "../simple-colours";
@import "bulma/sass/utilities/functions";

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .initials {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    width: 75%;
    height: 66%;
  }

  &.is-white-coloured {
    border: 1px solid darken(#FFFFFF, 25%);
  }

  @each $name, $value in $simple-colours {
    &.is-#{"" + $name}-coloured {
      $background-color: lighten($value, 10%);
      background-color: $background-color;

      .initials {
        color: findColorInvert($background-color);
      }
    }
  }
}