.gallery-widget {
  display: flex;
  flex-direction: column;
  height: 100%;

  .gallery-items {
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    flex-grow: 2;
    min-height: 12em;
  }

  .pagination {
    width: 100%;
    height: 2.5em;
    align-self: flex-end;
  }

  .item {
    display: block;
    color: #4a4a4a;
    text-align: center;
    border-radius: 4pt;
    padding: 10px;
    transition: color .3s;
    transition: background-color .3s;

    .caption {
      margin-top: .5em;
    }

    &.is-selected {
      background-color: #3273dc;
      color: white;
    }

    .image-aspect-box {
      height: 0;
      padding-top: calc(3 / 4 * 100%);
      position: relative;

      .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .image-contained {
          position: relative;
          padding: 0.4em;
          width: 100%;
          height: 100%;
          transition: box-shadow .3s;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .delete {
            position: absolute;
            top: -12px;
            right: -12px;
            background-color: rgb(206, 206, 206);

            &:hover {
              background-color: rgb(181.5, 181.5, 181.5);
            }
          }
        }
      }
    }

    &:not(.is-selected) .image-contained {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

    &:not(.is-selected):hover .image-contained {
      box-shadow: 0 0.5em 1em 0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02)
    }
  }
}