.image-picker {
  .modal-card {
    max-width: calc(100vw - 40px);
    width: 1280px;
  }

  .modal-card-head {
    display: block;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;

    .top {
      width: 100%;
      display: flex;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.image-options {
  .level-item {
    .button.is-fullwidth {
      margin-left: 5pt;
      margin-right: 5pt;
    }

    &:first-child {
      .button.is-fullwidth {
        margin-left: 0;
      }
    }

    &:last-child {
      .button.is-fullwidth {
        margin-right: 0;
      }
    }
  }
}