.tags-input {
  position: relative;
  padding: 0.25em 0 0 0.25em;
  border: 1px solid #D1D1D1;

  height: auto;

  /* shared font styles */
  font-size: 1rem;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;


  display: block;
  justify-content: initial;

  .tags {
    margin-bottom: 0;

    .tag {
      margin-bottom: 0.25em;
      margin-right: 0.25em;
    }
  }

  .selected {
    display: inline;
  }


  .search {
    display: inline-block;

    height: 2em;
    padding-right: 0.75em;
    padding-left: 0.5em;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }

  @media screen and (min-width: 30em) {
    .search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }
  }

  .search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;
    height: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;

    &::placeholder {
      color: rgba(54, 54, 54, 0.3);
    }

    &::-ms-clear {
      display: none;
    }
  }

  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;

    @media screen and (min-width: 30em) {
      width: 240px;
    }
  }

  .suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: .375em;
    box-shadow: .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .suggestions li {
    padding: .375rem 1rem;

    mark {
      text-decoration: underline;
      background: none;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }

    &.is-active {
      background-color: #3273dc;
      color: white;

      mark {
        color: white;
      }
    }

    &.is-disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}

.tags-input.is-focused ~ .icon {
  color: #4a4a4a;
}


.control.has-icons-left {
  .tags-input {
    .search {
      padding-left: 0;
    }
  }
}






