.board-page {
  .board-search-options {
    margin-bottom: 1.5rem;
  }

  .board {
    .card {
      transition: box-shadow .3s;

      &:hover {
        box-shadow: 0 0.5em 1em 0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02);
      }
    }

    .card-content {
      padding: 1rem;
    }

    .card-image {
      height: 0;
      padding-top: calc(3 / 4 * 100%);
      position: relative;

      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .board-view {
    .page {
      margin-bottom: 4em;
    }

    .pagination-controls {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    position: relative;
  }
}
