@import "../../../../simple-colours";

.counter-picker {
  min-width: 16em;
  display: flex;
  flex-direction: row;
  margin: 0 1.25em;

  .counter-radio-input {
    display: none;

    &:checked + .counter-radio-label {
      background-color: #3273dc;

      svg, figure {
        transform: scale(1.15);
      }
    }
  }

  .counter-radio-label {
    $counter-icon-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $counter-icon-size;
    height: $counter-icon-size;
    margin-right: 2.5px;

    box-sizing: content-box;
    padding: 5px;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      svg, figure {
        transform: scale(1.15);
      }
    }

    svg, figure {
      transition: transform .2s ease-in-out;
    }

    transition: background-color .2s ease-in-out;
  }
}