@import "../../../../simple-colours";

.counter-image {
  @each $name, $value in $simple-colours {
    &.is-#{"" + $name}-coloured {
      .is-themed {
        fill: $value;
      }

      .is-themed-light {
        fill: lighten($value, 10%);
      }

      .is-themed-dark {
        fill: darken($value, 10%);
      }

      .is-themed-lightest {
        fill: lighten($value, 30%);
      }

      .is-themed-darkest {
        fill: darken($value, 30%);
      }
    }
  }
}