@import "~../node_modules/bulma-slider/dist/css/bulma-slider.min.css";

.board-game {
  position: relative;
  width: 100%;

  .board-image {
    width: 100%;
    display: block;
  }

  .board-counters {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .counter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.dice-panel {
  width: 100%;

  .dice {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
