@import "../simple-colours";

.colour-picker {
  min-width: 16em;

  .colour-radio-input {
    display: none;

    &:checked + .colour-radio-label {
      span { transform: scale(1.25); }

      @each $name, $value in $simple-colours {
        .is-#{"" + $name}-coloured {
          border: 2px solid darken($value, 25%);
        }
      }
    }
  }

  .colour-radio-label {
    .is-white-coloured {
      border: 1px solid darken(#FFFFFF, 25%);
    }
  }

  .colour-radio-label {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;

    &:hover {
      span {
        transform: scale(1.15);
      }
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.75em;
      overflow: hidden;
      transition: transform .2s ease-in-out;
      @each $name, $value in $simple-colours {
        &.is-#{"" + $name}-coloured {
          background-color: $value;
        }
      }
    }
  }
}