#root {
  background-color: #EFF3F4;
  //background-color: red;
  min-height: 100vh;
}

.user-profile-button {
  .image {
    margin-right: 0.7rem;
    max-height: 2rem;
  }
}

//.navbar-brand .navbar-item img {
//  max-height: 2.5rem;
//  height: 100%;
//}