.card.activity {
  .card-header {
    & > .tabs.is-fullwidth {
      width: 100%;
      li { width: 25%; }
    }
  }

  .card-footer {
    margin-top: auto;
  }

  height: 100%;
  flex-direction: column;
  display: flex;
}

.classroom-widget {
  .tutee-row td {
    vertical-align: middle;
  }

  .tutee-row td:first-child {
    padding-right: 0;
    padding-left: 0.75em;
    width: calc(24px + 0.75em);
  }
}

.tutee-icon {
  .title {
    margin-top: 0.3em;
    overflow-wrap: break-word;
  }

  .image-wrapper {
    display: inline-block;
  }

  min-width: 11ch;
}

.tutee-icon.invite {
  .profile-image {
    background-color: hsl(217, 71%, 53%);
    font-size: 1.3rem;
    color: white;
    border: solid 1pt hsl(217, 71%, 53%);
    transition: all .2s;


    i {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    .profile-image {
      background-color: white;
      color: hsl(217, 71%, 53%);
    }
  }
}

.chat-widget {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    overflow-y: auto;

    .chat-message {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .sender {
      margin-bottom: 0;
    }

    &:first-child {
      padding-top: 1rem;
    }
  }

  .compose {
    margin-top: auto;
    padding: 1.5rem;
  }
}

.chat-or-lobby-widget {
  .card-content {
    height: 31rem;
    padding: 0;
  }

  .card-header {
    & > .tabs.is-fullwidth {
      width: 100%;
      li { width: 50%; }
    }
  }
}