@import "../../../../simple-colours";
@import "bulma/sass/utilities/functions";

.noughts-and-crosses {
  display: block;
  margin: auto;
  max-width: 50vh;

  .board-parent {
    display: flex;
  }

  .board-parent {
    height: auto;

    .tile {
      display: flex;
    }
  }

  .board-parent:after {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .board-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @each $name, $value in $simple-colours {
      $border-colour: darken($value, 15%);

      &.is-#{"" + $name}-coloured {
        background-color: $value;
        border: 1pt solid $border-colour;

        text {
          fill: findColorInvert($value);
        }
      }
    }
  }
}