$profile-image-size: 36px;
$row-left-padding: 0.75em;

.lobby-widget {
  .users-table {
    background-color: transparent;
    margin-bottom: 0;
  }

  .search-control {
    margin: 0.75em;
    margin-bottom: .25em;
    width: calc(100% - 1.5em);
  }

  .tutee-row td {
    vertical-align: middle;
  }

  .tutee-row td:first-child {
    padding-left: $row-left-padding;
    padding-right: 0;
    width: calc(#{$profile-image-size} + #{$row-left-padding});
  }

  &.is-empty {
    margin: auto;
    text-align: center;
  }

  .notification {
    position: absolute;
    bottom: 0;
    margin: 1em;
    width: calc(100% - 2em);
    word-wrap: break-word;

    transition: opacity .5s;
    pointer-events: none;
    opacity: 0;
    height: 10rem;
    overflow: hidden;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.02);

    > .copy {
      display: flex;
      position: absolute;
      bottom: 1.25rem;
      right: 1.25rem;
    }

    .cover {
      background-image: linear-gradient(to bottom, transparent, #3273dc);
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }

    &.is-active {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.users-waiting {
  .header {
    margin-bottom: 1.5rem;
  }
}

.tutee-icon.is-wide {
  min-width: 14ch;
}