@import "../../../../simple-colours";
@import "bulma/sass/utilities/functions";

.card-parent {
  perspective: 700px;

  .game-card {
    height: 0;
    padding-top: calc(144 / 183 * 100%);
    position: relative;

    transition: transform 1.5s;
    transform-style: preserve-3d;

    margin: auto;

    &.is-flipped {
      transform: rotateY(180deg);
    }

    @each $name, $value in $simple-colours {
      $border-colour: darken($value, 15%);

      &.is-#{"" + $name}-coloured {
        .game-card-face {
          background-color: $value;
          border: 1pt solid $border-colour;
          color: findColorInvert($value);
        }

        .delete {
          background-color: $border-colour;

          &:hover {
            background-color: darken($border-colour, 10%);
          }
        }
      }
    }


    //&:hover {
    //  transform: rotateY(180deg);
    //}

    .game-card-image {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .delete {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    .player-image {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    .game-card-face {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform .2s ease-in-out;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10%;

      .text-container {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &.front {
        transform: rotateY(180deg);
        font-weight: bold;
      }
    }
  }
}

.board {
  > .card-parent {
    padding: 1.4%;
  }

  .game-card {
    .game-card-face {
      &.is-clickable:hover, &.is-selected {
        transform: scale(1.1);
      }
    }
  }
}